*.sw[pon]
config/AppliedEnergistics2/VersionChecker.cfg
config/splash.properties
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/multimob/modInformation/*.txt
config/worldedit/sessions/*
config/worldedit/schematics/*
